a {
	text-decoration: none;
	color: currentColor;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
}

:root {
    --sb-blue: #2C3E50;
    --sb-green: #1ABC9C;
}

.page-header {
    background-color: var(--sb-blue);
    color: white;
}

.nav-link {
    color: white;
}

.page-header button {
    border: 1px solid white;
}

.hero,
.about {
    background-color: var(--sb-green);
    color: white;
}

.hero img {
    max-width: 230px;
}

.star::before,
.star::after {
    content: '-';
	/* display: block;
	height: 2px;
	background-color: white;
	width: 40px; */
}

  
.portfolio,
.contact-me {
    color: var(--sb-blue);
}

